.dropdown {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 0 10px;
	cursor: text;
	height: 1.8rem;
	width: 10%;
	cursor: pointer !important;
	box-shadow: 0 0 10px 0px #98afc7;

	@apply rounded-full;
}

.select_box {
	width: 8rem;
	position: relative;
	padding: 10px 0;
}
.select_box:after {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(79, 70, 229);
	position: absolute;
	top: 40%;
	right: 5px;
	content: '';
	z-index: 40;
}
.select_box select {
	width: 8.5rem;
	position: relative;
	z-index: 41;
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	appearance: none;
}

.scroll::-webkit-scrollbar {
	display: none;
}

::-webkit-input-placeholder {
	font-weight: 100;
	font-size: x-small;
}

:-moz-placeholder {
	/* Firefox 18- */
	font-weight: 100;
	font-size: x-small;
}

::-moz-placeholder {
	/* Firefox 19+ */
	font-weight: 100;
	font-size: x-small;
}

:-ms-input-placeholder {
	font-weight: 100;
	font-size: x-small;
}

.progress-bar {
	position: relative;
	height: 15px;
	width: 200px;
	border-radius: 50px;
}

.filler {
	background-image: linear-gradient(to right, red, yellow, teal);
	height: 100%;
	border-radius: inherit;
	transition: width 0.2s ease-in;
}

.filler2 {
	background: #333;
	height: 130%;
	border-radius: inherit;
	transition: width 0.2s ease-in;
}

.filler3 {
	background: transparent;
	height: 100%;
	border-radius: inherit;
	transition: width 0.2s ease-in;
}
