::-webkit-input-placeholder {
	font-weight: 200;
	font-size: small;
}

:-moz-placeholder {
	/* Firefox 18- */
	font-weight: 200;
	font-size: small;
}

::-moz-placeholder {
	/* Firefox 19+ */
	font-weight: 200;
	font-size: small;
}

:-ms-input-placeholder {
	font-weight: 200;
	font-size: small;
}

input[type='date']:invalid::-webkit-datetime-edit {
	color: #999;
}

input[type='date'] {
	@apply text-gray-400;
	font-weight: 200;
	font-size: small;
}
::-webkit-calendar-picker-indicator {
	display: none;
}
