@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  outline: none;
}

button:disabled,
button:disabled:hover {
  cursor: not-allowed;
  background: grey !important;
  border-color: grey !important;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
