{
	"root": true,
	"env": {
		"es6": true,
		"node": true
	},

	"parserOptions": {
		"ecmaVersion": 2018,
		"ecmaFeatures": {
			"jsx": true
		}
	},

	"globals": {
		// If "no-undef" is enabled below, be sure to list all global variables that
		// are used in this app's backend code (including the globalIds of models):
		// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
		"Promise": true,
		"sails": true,
		"_": true
		// …and any others (e.g. `"Organization": true`)
		// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	},

	"rules": {
		"no-var": "error",
		"prefer-const": "error",
		"no-tabs": 0,
		"quotes": ["error", "double"],
		"indent": [2, "tab", {"SwitchCase": 1}],
		"one-var": ["error", "consecutive"],
		"comma-dangle": ["error", "never"],
		"max-len": [
			"error",
			{
				"code": 120,
				"tabWidth": 4,
				"ignoreComments": true,
				"ignoreUrls": true,
				"ignoreTemplateLiterals": true,
				"ignoreStrings": true
			}
		],
		"space-before-function-paren": ["error", {"named": "never"}],
		"block-scoped-var": ["error"],
		"callback-return": ["error", ["done", "proceed", "next", "onwards", "callback", "cb"]],
		"comma-style": ["warn", "last"],
		"curly": ["warn"],
		"eqeqeq": ["error", "always"],
		"eol-last": ["warn"],
		"handle-callback-err": ["error"],
		"linebreak-style": ["error", "unix"],
		"no-dupe-keys": ["error"],
		"no-duplicate-case": ["error"],
		"no-extra-semi": ["warn"],
		"no-labels": ["error"],
		"no-redeclare": ["warn"],
		"no-return-assign": ["error", "always"],
		"no-sequences": ["error"],
		"no-trailing-spaces": ["warn"],
		"no-undef": ["off"],
		// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
		// ^^Note: If this "no-undef" rule is enabled (set to `["error"]`), then all model globals
		// (e.g. `"Organization": true`) should be included above under "globals".
		// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
		"no-unexpected-multiline": ["warn"],
		"no-unreachable": ["warn"],
		"no-unused-vars": [
			"warn",
			{
				"caughtErrors": "all",
				"caughtErrorsIgnorePattern": "^unused($|[A-Z].*$)",
				"argsIgnorePattern": "^unused($|[A-Z].*$)",
				"varsIgnorePattern": "^unused($|[A-Z].*$)"
			}
		],
		"no-use-before-define": ["error", {"functions": false}],
		"prefer-arrow-callback": ["warn", {"allowNamedFunctions": true}],
		"semi": ["warn", "always"],
		"semi-spacing": ["warn", {"before": false, "after": true}],
		"semi-style": ["warn", "last"]
	}
}
